/*  Douglas Aquilino       February 11, 2017    */
/*  RCB - "Star Wars RPG" Homework #4           */
/*                style.js                      */

/*				NEEDS DOING
		1.) fix beast boys image bottom space in paint.net
		2.) bottom margin of rows where characters are.


*/
body{
			
	background: #0ab7eb; /*teen titans color*/
	color: yellow;
}

header h1 {
	font-size: 10vw;
	font-weight:900 ;
	color: yellow;
    text-shadow: 2px 2px 20px black;
    display: inline-block;
    position: relative;
    top: 25px;
}

#characters-h1,
#enemies-h1,
#arena-h1 {
	font-weight: 900;
	margin-bottom: 40px;
}

#logo{
	max-width:375px;
	display: inline-block;
}

header{	
	margin-bottom:50px;
}

/* code to set panel backgrounds transparent*/
.panel-transparent {
        background: none;
}

/* Needed so center-block works on columns*/
.center-block{
	float: none;
}


/*********************** instructions panel ******************/
.panel-info{border-radius: 25px;}


.panel-info > .panel-heading
{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	color: black;
	background: yellow;
	font-weight: 900;	
	font-size: 1.5em;
}

.btn-info
{
	background: black;
	color: yellow;
	font-weight: 900;

}

.btn-info:focus
{
	background: yellow;
	color: black;
	font-weight: 900;

}

#instructions-body{
	padding: 30px;
	font-weight: 900;
	font-size : 1.2em;
}

#buttons{
	margin-bottom: 50px;
}

/*********************** characters ******************/
.thumbnail img{
	width: 175px;
	height: 253px;
	margin: 0 auto;
}

.thumbnail img:hover
{	
	transform: scaleX(-1);
	transform: translateY(-5px);
}


/* change these to classes .beast-boy etc..*/
#character1,#character2,#character3,#character4{

	padding: 0;
	
}

.character{
	width: 200px;
	height: 250px;
	margin-right: 5px;
}

.thumbnail
{
	min-height: 350px;
	background: transparent;
	border: none;
}

h3
{
	margin-top: 0;
	font-weight: 900 ;
}


/*********************** characters ******************/
#enemies .thumbnail{
	background: red;
}

#arena .thumbnail{
	background: black;
}


/*********************** Choose Enemy ******************/
#enemies {display: none;}



/*********************** Fight Arena ******************/


#arena {display: none;}

#arena .beastBoy,
#arena .starfire,
#arena .robin,
#arena .raven {display:none;}


/************ Attack & Play Again buttons. Attack panel  ************/

#attack-button, #play-again-button 
{
	margin-bottom: 50px;
	display: none;
}

#attack-panel{

	display: none;
	height: 100px;
	color:yellow;
	background: black;
	padding: 10px 20px;
	width: 400px;
}

